
<h1>Edit Question</h1>
 
<%= form_for @question, url: user_question_path do |form| %>
 
  <%= form.label :category %>:
  <%= form.select(:category, options_for_select([['History'], ['Science'], ['Entertainment'], ['Sports'], ['Geography']])) %><br>
  <%= form.label :question %>:
  <%= form.text_field :question %><br>
  <%= form.label :correct_answer %>:
  <%= form.text_field :correct_answer %><br>
  <%= form.label :answer_option_one %>:
  <%= form.text_field :answer_option_one %><br>
  <%= form.label :answer_option_two %>:
  <%= form.text_field :answer_option_two %><br>
  <%= form.label :answer_option_three %>:
  <%= form.text_field :answer_option_three %><br>
 
  <p>
    <%= form.submit %>
  </p>
 
<% end %>
 
<%= link_to 'Back', user_questions_path %>
