<h1> Create A Question </h1>


<%= form_for @question, url: user_questions_path do |f| %>
  <%= f.label :category %>:
  <%= f.select(:category, options_for_select([['History'], ['Science'], ['Entertainment'], ['Sports'], ['Geography']])) %><br>
  <%= f.label :question %>:
  <%= f.text_field :question %><br>
  <%= f.label :correct_answer %>:
  <%= f.text_field :correct_answer %><br>
  <%= f.label :answer_option_one %>:
  <%= f.text_field :answer_option_one %><br>
  <%= f.label :answer_option_two %>:
  <%= f.text_field :answer_option_two %><br>
  <%= f.label :answer_option_three %>:
  <%= f.text_field :answer_option_three %><br>
  <%= f.submit "Create" %>
<% end %>