<div class = "navbar navbar-light bg-dark text-center">
<h1>Your Question</h1>
<%= link_to "Log Out", destroy_user_session_path, method: :delete, :class => "btn-logout" %>
</div>

<body class = "select text-center">
<p>
  <strong>Category:</strong>
  <%= @question.category %>
</p>
 
<p>
  <strong>Question:</strong>
  <%= @question.question %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @question.correct_answer %>
</p>

<p>
  <strong>Wrong Answer One:</strong>
  <%= @question.answer_option_one %>
</p>

<p>
  <strong>Wrong Answer Two:</strong>
  <%= @question.answer_option_two %>
</p>

<p>
  <strong>Wrong Answer Three:</strong>
  <%= @question.answer_option_three %>
</p>

 <td><%= link_to 'Home Page', root_path(current_user), :class => "btn" %></td>
 </body>