<h1> Start Quiz Here </h1>

  <h3>Question</h3><br>
    <%# <th>Correct Answer</th>
    <th>Answer Option One</th>
    <th>Answer Option Two</th>
    <th>Answer Option Two</th> %>
<% @questions.each do |question| %>
    <%= question.id %><br>

    <%= question.question %><br>

    <%= question.correct_answer %><br>
    <%= question.answer_option_one %><br>
    <%= question.answer_option_two %><br>
    <%= question.answer_option_three%> <br>

  <% end %>
  </table>

<h2> First, select a category </h2>
<%= form_for @quiz, url: user_quizzes_path do |f| %>
  <%= f.label :score %>:
  <%= f.text_field :score %><br>
  <%= f.label :running_score %>:
  <%= f.text_field :running_score %><br>
  <%= f.label :quiz_category %>:
  <%= f.select(:quiz_category, options_for_select([['History'], ['Science'], ['Entertainment'], ['Sports'], ['Geography']])) %> <br>
  <%= f.label :guess %>:
  <%= f.text_field :guess %><br>
  <%= f.submit 'Submit Guess'%>
<% end %>


<%= link_to 'Back', user_questions_path %>
