<div class = "navbar navbar-light bg-dark text-center">
  <h1> Answer Quiz Here </h1>
  <%= link_to "Log Out", destroy_user_session_path, method: :delete, :class => "btn-logout" %>
</div>

<body class = "select text-center">
<br>

<div class = "text-center">
<% @questions.each do |question| %>
    <h2><%= question.question %><br></h2>
<% end %>

<% @answers.each do |answer| %>
    <h4><%= answer %><br></h4>
  <% end %>

<%= form_for @quiz, url: user_quiz_path(current_user, @quiz) do |f| %>
  <%= f.select(:guess, options_for_select(@answers))%>
  <br>
  <%= f.submit 'Submit Guess', :class => "btn"%>
<% end %>

<%= link_to 'Back', user_questions_path, :class => "btn" %>
</div>
</body>